<main>
  <section class="container">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">
      <p><% if not devise_error_messages!.empty? %>
        <div class="alert alert-danger" role="alert">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <%= devise_error_messages! %>
        </div>
      <% end %></p>
      <h2>Change your password</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <%= f.label :password, "New password", :class => "sr-only" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control", :id => "inputPassword", :placeholder => "New password"  %>

        <%= f.label :password_confirmation, "Password confirmation", :class => "sr-only" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :id => "inputPassword", :placeholder => "Password confirmation"  %><br/>

        <%= f.submit "Change my password", :class => "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </section>
</main>