<main>
  <section class="container">
   <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">
      <p><% if not devise_error_messages!.empty? %>
        <div class="alert alert-danger" role="alert">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <%= devise_error_messages! %>
        </div>
        <% end %></p>
        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= f.label :email, :class => "sr-only"  %><br />
          <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "inputEmail", :placeholder => "Email address" %><br />

          <%= f.submit "Send me instructions", :class => "btn btn-primary btn-lg" %>
        <% end %>
     </div>
  </section>
</main>
