<% if @my_document.errors.any? %>
 <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
      <ul>
      <% @my_document.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
      <% end %>
    </ul>
 </div>
 <% end %>
<%= form_for(@my_document) do |f| %>

  <%= f.label :title, :class => "sr-only" %><br>
  <%= f.text_area :title, :class => "form-control", :placeholder => "Title", :class => "doc_title" %>
  <%= f.label :content, :class => "sr-only" %><br>
  <%= f.text_area :content, :class => "form-control", :placeholder => "Content", :class => "doc_content tinymce" %><br />
  <%= f.submit "Done", :class => "btn btn-warning" %>
<% end %> <br />

