<main>
  <section class="container">
   
    <h1>Dashboard</h1>
    <%= link_to 'New Document', new_document_path, :class => "btn btn-primary", 'data-no-turbolink' => false  %> <br />
    <div class="dashboard-my-docs">
      <h3>My documents</h3>
      <%if @my_documents.empty? %>
        There are currently no documents created by you.   
      <% end %>

      <% @my_documents.each do |document| %>
        <article class="document-box">
          <p><%= link_to  "[#{document.title}]", document_path(document), class: "document-title-link" %></p>
          <p>Created by: <%= document.user.email %></p>
          <p>Created at: <%= created_at_format(document) %></p>
          <%= link_to  'Edit', edit_document_path(document), :class => "btn btn-default btn-sm col-xs-offset-1 col-xs-5 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4", 'data-no-turbolink' => false  %>
          <%= link_to 'Delete', document, :method => :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-default btn-sm col-xs-5 col-sm-5 col-md-4  col-lg-4 "%> <br /> <br />   
        </article> 
      <% end %>
    </div>

    <div class="dashboard-other-docs">
      <h3>Other documents</h3>
      <%if @other_documents.empty? %>
        There are currently no documents created by others.   
      <% end %>
      <% @other_documents.each do |document| %>
        <article class="document-box">
          <p><%= link_to  "[#{document.title}]", document_path(document), class: "document-title-link"  %></p>
          <p>Created by: <%= document.user.email %></p>
          <p>Created at: <%= created_at_format(document) %></p>
          
        </article> 
      <% end %>
    </div>
  </section>
</main>
         
          