<%= tinymce_assets %>
<main>
  <section class="container">
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-centered">
		<h1>New document</h1>

		<%= render 'form' %>

		<%= button_to 'Back', documents_path, :class => "btn btn-default", method: :get %>

    </div>
  </section>
</main>

<%= tinymce %>