<main>
  <section class="preview">
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-centered">  	   
      <h1>Preview</h1>
      <h2><li><%= @my_document.title %></li></h2> <br/>

      <p class="show-document-text"><%= sanitize(@my_document.content) %></p><br />
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 show-document-buttons"> 
       <%= link_to 'Edit', edit_document_path(@my_document), :class => "btn btn-warning", 'data-no-turbolink' => false %><br /><br />
       <%= link_to 'Back to list', documents_path, :class => "btn btn-default"%><br />
     </div>
 
    </div>
  </section>
</main>