<main>
  <section class="container">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">
      <h1>Log in</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),  :html => { :class => 'form-signin"' } ) do |f| %>
        <%= f.label :email, :class => "sr-only" %><br />
        <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "inputEmail", :placeholder => "Email address" %>
        <%= f.label :password, :class => "sr-only" %><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "inputPassword", :placeholder => "Password" %>
      
   
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <%= f.check_box :remember_me, :checked => false  %> <%= f.label :remember_me %>
          </div>
        <% end %>

        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br /><br />
      
        <%= f.submit "Log in", :class => "btn btn-primary btn-lg" %><br /><br />      
    
      <% end %>
          
    </div>
  </section>
</main>
