/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_tree .
*= require_self
 */



html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}







h1{
   margin-top: 80px;
   margin-bottom: 50px;
   color: #ae0001;
   font-size: 56px;
   line-height: 80px;
   text-align: center;
}


section.container{
  width: 80%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  clear: right;

}


.dashboard-my-docs
{
  float: left;
}

.dashboard-other-docs
{
  float: right;
}


.btn-primary, .btn-danger, .btn-warning
{
  background-color: #740001;
  color: #FFFFFF;
  border-color: #740001;
}

.btn-default:hover, .btn-primary:hover
{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
}

.btn-default:active, .btn-primary:active
{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
}



.document-box{
  
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px inset  #ae0001;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  text-align: left;

}

.show-document-buttons{
  text-align: center;
  clear: both;
  width: 80%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.show-document-text{

  text-align: left;


}


.doc_title{
  width: 100%;
  height: 30px;

}

.doc_content{
  width: 100%;
  height: 500px;
}

.document-title-link{
  font-size: 20px;
  color: #FF5533;
  text-decoration: underline;
}
.document-title-link:hover{
  color: #000000;
}

.document-title-link:active{
  color: #000000;
}
.col-centered{
  float: none; 
  margin-left: auto; 
  margin-right: auto;
  
}

.center-block {
  float: none !important
}



section.preview{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  clear: right;

}


.alert{
  text-align: left;

 }


.mainnav{
  float: right;
  margin-right: 5px;
}

.mainnav li{
  float: left;
  margin-left: 5px;

}


.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ae0001;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ae0001;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ae0001;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}

